nav { 
    display: flex;
    /* turns on flexbox */
    justify-content: space-between;
    /* horizontally aligns thw flex child elements on the outer edges of the row */
    align-items: center;
    /* vertically aligns the flex child elements */ 
}
nav ul {
    display: flex;
    justify-content: center;
    /*centers the links horizontally*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    margin-right: 20px;
}
nav li a {
    display: block;
    width:50px;
    background-color: #dddddd;
}
nav a {
    display: block;
    width:50px;
    background-color: #dddddd;
}